<!-- Presentación template para articulo-item, usando ngClass para estilos y ngIf para validar aparición de botones y costo.
Tal como se dicta en el ejercicio 3-->
<!-- <div id="product" class="stock-container" [ngClass]="articleStyles">
    <div>
        <img src={{article.imageUrl}} alt="bluecar">
    </div>
    <div class="name"><h3>{{article.name}}</h3></div>
    <div class="price">{{"$"+article.price}}</div>
    <div class="amount" *ngIf="article.isOnSale">
        <button (click)="article.disminuirStock()" [disabled]="article.quantityInCart == 0">-</button>
            <span> {{article.quantityInCart}} </span>
        <button (click)="article.aumentarStock()">+</button>
    </div>    
</div> -->
